mixin menuLink(title, href = "#")
  li.header-menu-item 
    a.header-menu-link(href= href)= title

mixin headerBottomItem(number, title, active)
  .header-bottom-item
    span.header-bottom-number= number
    span.header-bottom-text= title 

mixin blockBox(caption, title, desc)
  .block-box 
    h3.block-box-caption= caption  
    h2.block-box-heading= title 
    if desc
      a.block-box-desc= desc

mixin aboutItem(src, title, iconClass, alt = "")
  .about-item 
    img.about-img(src= src, alt= alt)
    .about-content 
      i.about-icon(class= iconClass)
      span.about-title= title 

mixin numberItem(number, text)
  .number-item 
    h4.number-item-count= number 
    span.number-item-text= text

mixin serviceItem(src, title, desc)
  .service-item 
    img.service-item-icon(src= src, alt= "")
    .service-item-info  
      h3.service-item-title= title 
      p.service-item-desc= desc  
mixin wedoItem(src, title, desc)
  .wedo-item 
    .wedo-item-header
      img.wedo-item-icon(src= src, alt="#") 
      h3.wedo-item-title= title  
      i.fal.fa-angle-up.wedo-item-arrow-up
      i.fal.fa-angle-down.wedo-item-arrow-down
    .wedo-item-content 
      .wedo-item-text= desc
mixin teamSocial(facebook= "#", twitter= "#", pinterest= "#", instagram= "#")
  ul.team-social 
    li.team-social-item 
      a.team-social-link(href=facebook) 
        i.fab.fa-facebook-f 
    li.team-social-item 
      a.team-social-link(href=twitter) 
        i.fab.fa-twitter
    li.team-social-item 
      a.team-social-link(href=pinterest) 
        i.fab.fa-pinterest 
    li.team-social-item 
      a.team-social-link(href=instagram) 
        i.fab.fa-instagram

mixin teamItem(src, name, position)
  .team-item 
    .team-main 
      img(src= src, alt="").team-image
      .team-content 
        if block 
          block 
    .team-info
      h3.team-name= name  
      span.team-position= position 
mixin workItem(src, icon = "fa fa-home", title = "Creatively designed", full = "", desc = "Lorem ipsum dolor sit") 
  .work-item(class= full)
    img.work-image(src= src, alt="")
    .work-content 
      i.work-icon(class= icon)
      h3.work-title= title 
      span.work-desc.text.text-light= desc 
mixin peopleItem(src, name, job, desc= "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
  li.people-item 
    img.people-avatar(src= src, alt="#")
    .people-info 
      h3.people-name= name 
      span.people-job.text.text-light= job  
      p.people-desc.text= desc

mixin storyItem(src, dateNumber = 15, dateText = "Jan", title = "Lorem ipsum dolor sit amet", desc = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", views = 1000, comment = 100)
  li.story-item
    .story-media 
      img.story-image(src=src, alt="")
      .story-date
        span.story-date-number= dateNumber 
        span.story-date-text.text.text-light= dateText  
    h3.story-title= title
    .story-desc.text 
      p.story-desc-inner= desc 
    .story-meta 
      .story-meta-item 
        i.fa.fa-eye.story-meta-icon 
        span.story-meta-number.text= views 
      .story-meta-item 
        i.fa.fa-comment.story-meta-icon 
        span.story-meta-number.text= comment

mixin quoteItem(src = "../images/img-quote.png", type = false, desc = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", author = "Jon Doe") 
  .quote-item 
    if type == false  
      .quote-icon 
        img(src= src, alt="#")
    else
        img(src= src, alt="#").quote-image 
    .quote-info 
      p.quote-desc= desc
      span.quote-author= author
      